.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

/* 表单样式 */
.newsletter__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}

.required {
    color: red;
}

.newsletter__notes {
    padding: 0 5px;
    text-align: left;
}

.newsletter__notes p {
    font-style: oblique;
}

.newsletter__form-group {

    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.newsletter__form-group--btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.newsletter__form-group--checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsletter__label--checkbox {
    margin-right: 10px;
}

.newsletter__select, .newsletter__input {
    width: 100%;
}

.newsletter__label {
    padding: 10px 5px;
    padding-bottom: 5px;
    text-align: left;
}

.newsletter__input::placeholder {
    font-style: italic;
}

.newsletter__input {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
}

.newsletter__select {
    width: 100%;
    padding: 8px 5px;
    margin-top: 5px;
}

.modal-close--btn {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #e8bcc8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    
}

.modal-close--btn:hover{
    background-color: #ddcacf;
}

.modal .newsletter__button {
    width: 40%;
    height: 40px;
    font-size: small;;
}




.newsletter__input--name--error,
.newsletter__input--email--error,
.newsletter__input--confirm-email--error {
    border: 2px solid red;
}

/* Form validation */
.newsletter__input-container {
    height: 100%;
    width: 100%;
}

.newsletter__error--name,
.newsletter__error--email,
.newsletter__error--confirm-email {
    color: red;
    text-align: left;
    font-size: 0.9em;
    margin-top: 5px;
}

